@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@layer components {
  .navbar-padding {
    @apply p-8;
  }

  .container-padding {
    @apply pt-20 pb-20 pl-8 pr-8;
  }

  .container-width {
    @apply mx-auto max-w-[80rem];
  }
}
